In [23]:
import pandas as pd

# データの読み込み
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [17]:
#データの前処理
#データの分割
#モデルの構築
#モデルの評価
#予測データの生成
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [16]:
#データの前処理
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
#データの前処理
##Age,Fareは中央値で穴埋め
##Embarkedは最頻値で穴埋め
##Cabin列は欠損地が非常に多いため、削除する。
##データリーク（testデータなどの未来の情報を使うこと）を避けるような設計にする。
# Fareは特に注意！
def preprocess(df):
    df["Age"] = df["Age"].fillna(train["Age"].median())
    df["Embarked"] = df["Embarked"].fillna(train["Embarked"].mode()[0])
    df["Fare"] = df["Fare"].fillna(train["Fare"].median())
    df =df.drop("Cabin",axis=1)
    return df

train = preprocess(train)
test = preprocess(test)

In [27]:
#データの前処理（パート２）
#ラベルの変換
train["Sex"] = train["Sex"].map({"male":0, "female":1})
test["Sex"] = test["Sex"].map({"male":0, "female":1})
#One-Hot Encording
train = pd.get_dummies(train, columns=["Embarked"], drop_first=True)
test = pd.get_dummies(test, columns=["Embarked"], drop_first=True)
#型の確認

In [28]:
print(train.dtypes)
print(test.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex            float64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked_Q        bool
Embarked_S        bool
dtype: object
PassengerId      int64
Pclass           int64
Name            object
Sex            float64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked_Q        bool
Embarked_S        bool
dtype: object